Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
packages*/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.rar
**/tpl/*.js
**/node_modules/*
Wechat.API/*
Wechat.API.Demo/*
*.txt
**/uploads/*
**/mvc/*
api.demo/*
API.MP/*
LiveTV/*
LiveTV*/*
*.[Dd]emo/*
