Thunbs.db
.vs
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
Api.Demo.ConsoleApp/
API.Demo/
packages/
API/
*.API/
A[P][I].*/
WechatAPI.sln
Wechat.*/
API.Mp/
API.Qy/
Api.Weixin.Demo0/
