<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" requirePermission="false" />
  </configSections>
  <log4net>
    <root>
      <!-- Value of priority may be ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
      <level value="WARN" />
      <appender-ref ref="DebugAppender" />
      <appender-ref ref="ErrorAppender" />
    </root>
    <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
      <!-- debug log: 记录 DEBUG, INFO 级别的日志 -->
      <file value="app_data\\logs\\debug.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout" >
        <param name="ConversionPattern" value="%date [%p] [%logger] [%thread] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="INFO" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <!-- error log: 记录 WARN,ERROR,FATAL 级别的日志 -->
      <file value="app_data\\logs\\error.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout" >
        <param name="ConversionPattern" value="%date [%p] [%logger] [%thread] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <logger name="logger">
      <level value="ALL" />
      <!--<appender-ref ref="LogInfoFileAppender" />-->
    </logger>
  </log4net>
</configuration>
